body { 
width: 100%; 
height: 100%; 
background: url(1.jpg); 
} 
header{ 
width: 100%; 
height: 150px; 
font-family: Monotype Corsiva; 
font-size: 80px; 
text-align: center; 
}
name{ 
float:center; 
}
#name h2{
font-family: Monotype Corsiva; 
font-size: 20px; 
text-align: center; 
}
nav{ 
width: 100%; 
min-height: 40px; 
text-align: right; 
padding:0 0px; 
border-bottom-color:#000; 
border-bottom: 3px solid white; 
border-top: 3px solid white; 
} 
main{ 
min-height: 400px; 
font-family: Times New Roman; 
text-align: center; 
padding:100px 
} 
footer{ 
width: 100%; 
height: 70px; 
font-family: Monotype Corsiva ; 
text-align:left; 
border-top: 3px solid white; 

} 
img{ 
width:400px; 
} 
nav ul { 
padding: 0; 
margin: auto; 
list-style: none; 
float:center; 
} 

nav li { 
float: center; 
} 
nav a { 
float: left; 
color: #00008B; 
margin: 0 5px; 
padding: 3px; 
text-decoration: none; 
border: 1px solid #FFD700 ; 
font: bold 13px Arial, Helvetica; 
background-color: #FFD700 ; 
background-image: linear-gradient(#EEEE00 , #FFD700 ); 
border-radius: 8px; 
text-shadow: 0 -1px 0 rgba(0,0,0,.8); 
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
} 

nav a:hover { 
background-color: #EEEE00 ; 
background-image: linear-gradient(#FFD700 , #EEEE00 ); 
} 

nav a:active { 
background: #EEEE00 ; 
position: relative; 
top: 2px; 
box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset; 
} 

nav span { 
border: 1px dashed #0000EE; 
display: inline-block; 
padding: 4px 15px; 
cursor: pointer; 
background-color: #EEEE00 ; 
background-image: linear-gradient(#FFFF00 , #FFD700); 
} 

nav a:hover span { 
background-color: #EEEE00 ; 
background-image: linear-gradient(#FFD700 ,#FFFF00 ); 
} 

#marchrut{ 
background: linear-gradient(#FFD700, #FFFF00); 
border: 1px solid #27408B; 
border-radius: 8px; 
color:#0000CD; 
width:500px; 
height:200px; 
margin:auto; 
} 
#marchrut p{ 
width: 300px; 
margin-bottom:10px; 
text-align: left; 
float: right; 
height: 20px; 
margin: 4px; 
} 
#marchrut div{ 
width: 180px; 
margin-bottom: 10px; 
text-align: right; 
float:left; 
height: 20px; 
margin: 4px; 
} 
#log{ 
background: linear-gradient(#FFD700, #FFFF00); 
border: 1px solid #27408B; 
border-radius: 8px; 
color:#0000CD; 
width:400px; 
height:200px; 
margin: auto; 
font-size: 20px; 
top: 50%; 
left: 50%; 
} 
#log div{ 
width: 240px; 
margin-bottom:10px; 
text-align: left; 
float: right; 
height: 20px; 
margin: 4px; 
} 
#log p{ 
width: 140px; 
margin-bottom: 20px; 
text-align: right; 
float:left; 
height: 20px; 
margin: 4px; 
} 
h1{ 
margin: 5px; 
} 
p{ 
	margin:5px; 
	text-align:left;
} 
p2{ 
	margin:5px; 
	text-align:left;
	font-family: Times New Roman;
	font-size: 20px;
	font-style:bold;	
} 
header img { 
width:300px; 
height:150px; 
float:left; 
clear:both; 
} 
.content-bg { 
width: 760px; /* Ширина макета */ 
margin: auto; /* Выравнивание по центру */ 
background: url(bg.jpg) ;
} 
.content-white { 

margin: 0 5px; /* Отступы по горизонтали */ 
text-align: justify; /* Выравнивание по ширине */ 
border-radius: 10px; 
} 

footer div{ 
margin:8px; 
margin-right:0px; 
text-align: left; 
height: 10px; 
}
a.button6 {
  position: relative;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 1px #cc5500;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  border-radius: 1px;
  background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
  background-size: 100% 100%, auto;
  background-position: 50% 50%;
  box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
  transition: 0.2s;
}
a.button6:hover {
  background-size: 140% 100%, auto;
}
a.button6:active {
  top: 1px;
  color: #ffdead;
  box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}
#registration{ 
background: linear-gradient(#FFD700, #FFFF00); 
border: 1px solid #27408B; 
border-radius: 8px; 
color:#0000CD; 
width:450px; 
height:320px; 
margin:auto; 
} 
#registration p2{ 
width: 200px; 
margin-bottom:15px; 
text-align:center; 
float: left; 
height: 25px; 
margin: 7px; 
} 
#registration div{ 
width: 200px; 
margin-bottom: 15px; 
text-align: left; 
float:right; 
height: 25px; 
margin: 7px; 
} 
input[type="submit"], 
input[type="button"] { 
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    border: none;
    background: #2c3e50;
    color: #fff;
	border-radius: 8px;
}
.squaredTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;

  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
   
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    
  }
}
#reserv1{ 
background: linear-gradient(#FFD700, #FFFF00); 
border: 1px solid #27408B; 
border-radius: 8px; 
color:#0000CD; 
width:500px; 
height:450px; 
margin:auto; 
} 
#reserv1 p{ 
width: 300px; 
margin-bottom:10px; 
text-align: left; 
float: right; 
height: 20px; 
margin: 4px;

} 
#reserv1 div{ 
width: 180px; 
margin-bottom: 10px; 
text-align: right; 
float:left; 
height: 20px; 
margin: 4px; 
font-weight: bold; 
} 